asgiref
attrs
bcrypt
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
distlib
Django
django-background-tasks
django-compat
django-cors-headers
django-filter
django-seed
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
drf-yasg
Faker
filelock
gunicorn
idna
inflection
itypes
Jinja2
jsonschema
MarkupSafe
packaging
passlib
Pillow
platformdirs
psycopg2
pycparser
PyJWT
pyrsistent
python-dateutil
python-decouple
pytz
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
swagger-spec-validator
toposort
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
whitenoise
